[project]
name = "ezmsg-blackrock"
description = "Blackrock Cerebus ecosystem interface for ezmsg"
authors = [
  { name = "Griffin Milsap", email = "griffin.milsap@gmail.com" },
  { name = "Chadwick Boulay", email = "chadwick.boulay@gmail.com" },
]
readme = "README.md"
requires-python = ">=3.10"
dynamic = ["version"]
dependencies = [
    "ezmsg-event",
    "ezmsg>=3.6.1",
    "pycbsdk>=0.4.0",
]

[dependency-groups]
dev = [
  "typer>=0.12.5",
  "pre-commit>=4.0.0",
  {include-group = "lint"},
  {include-group = "test"},
]
lint = [
  "ruff"
]
test = [
  "pytest"
]
docs = [
  "sphinx>=7.0",
  "sphinx-autodoc-typehints",
  "sphinx-copybutton",
  "pydata-sphinx-theme",
  "myst-parser",
]

[build-system]
requires = ["hatchling", "hatch-vcs"]
build-backend = "hatchling.build"

[tool.hatch.version]
source = "vcs"

[tool.hatch.build.hooks.vcs]
version-file = "src/ezmsg/blackrock/__version__.py"

[tool.hatch.build.targets.wheel]
packages = ["src/ezmsg"]

[tool.pytest.ini_options]
asyncio_mode = "auto"
asyncio_default_fixture_loop_scope = "function"

[tool.ruff]
line-length = 120
target-version = "py310"
# Exclude auto-generated files
exclude = ["*/__version__.py"]

[tool.ruff.lint]
select = ["E", "F", "I", "W"]

[tool.ruff.lint.isort]
known-first-party = ["ezmsg.blackrock"]
known-third-party = ["ezmsg", "ezmsg.event"]
